Create pandas series with different data types in different ways
Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [6]:
import pandas as pd

### 1.

In [7]:
pd.Series([1,2,3,4,5,6,7,8,9])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [8]:
lst = [13.5,19,21.2,2,5.0,6.3,4,32]

In [42]:
pd.Series(lst)  #from list

0    13.5
1    19.0
2    21.2
3     2.0
4     5.0
5     6.3
6     4.0
7    32.0
dtype: float64

In [10]:
tup = ('kai', 92, 88, 1.10, 'zero', 'nine', 9)

In [43]:
hetero = pd.Series(tup)  #from tuple
hetero

0     kai
1      92
2      88
3     1.1
4    zero
5    nine
6       9
dtype: object

In [12]:
dist = {'Sainikpuri':20, 'Begumpet':130, 'Hitech city':500, 'Habsiguda':105}

In [13]:
pd.Series(dist)

Sainikpuri      20
Begumpet       130
Hitech city    500
Habsiguda      105
dtype: int64

### 2.

In [14]:
ser = pd.Series([10,30,40,1,3,6,14,18,23], index=list(range(100,109)))

In [15]:
ser

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [16]:
ser.astype('float16')

100    10.0
101    30.0
102    40.0
103     1.0
104     3.0
105     6.0
106    14.0
107    18.0
108    23.0
dtype: float16

In [17]:
ser.astype('object')

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: object

In [18]:
ser.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [19]:
ser.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [20]:
ser.dtype

dtype('int64')

In [21]:
ser.items

<bound method Series.items of 100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64>

In [22]:
ser.nbytes

72

In [23]:
ser.ndim

1

In [24]:
ser.memory_usage()

144

In [25]:
ser.head(3)

100    10
101    30
102    40
dtype: int64

In [26]:
ser.tail(2)

107    18
108    23
dtype: int64

### 3.

In [27]:
import numpy as np

In [28]:
salaries = np.random.randint(30000,90000,30)

In [29]:
sal = pd.Series(salaries)

In [30]:
sal

0     82077
1     80342
2     56659
3     86103
4     82703
5     30238
6     57842
7     48150
8     40814
9     61073
10    64715
11    51191
12    50508
13    80059
14    59612
15    44713
16    72287
17    75405
18    44013
19    79588
20    44639
21    84845
22    62391
23    77506
24    85847
25    37807
26    43590
27    74338
28    33943
29    89310
dtype: int32

In [31]:
sal.info()

<class 'pandas.core.series.Series'>
RangeIndex: 30 entries, 0 to 29
Series name: None
Non-Null Count  Dtype
--------------  -----
30 non-null     int32
dtypes: int32(1)
memory usage: 248.0 bytes

In [32]:
sal.describe()

count       30.000000
mean     62743.600000
std      18076.509696
min      30238.000000
25%      45572.250000
50%      61732.000000
75%      79941.250000
max      89310.000000
dtype: float64

In [33]:
print('Range = ', sal.max()-sal.min())

Range =  59072

In [34]:
q1 = sal.quantile(0.25)
q3 = sal.quantile(0.75)
iqr = q3 - q1
iqr

34369.0

In [35]:
sal.mode()  #no repeating values

0     30238
1     33943
2     37807
3     40814
4     43590
5     44013
6     44639
7     44713
8     48150
9     50508
10    51191
11    56659
12    57842
13    59612
14    61073
15    62391
16    64715
17    72287
18    74338
19    75405
20    77506
21    79588
22    80059
23    80342
24    82077
25    82703
26    84845
27    85847
28    86103
29    89310
dtype: int32

### 4.

*numpy arrays are not indexed but pandas is
*numpy allows only homogeneous arrays (converts to str if there's any heterogeneity) whereas pandas accepts heterogeneous values

In [45]:
tup

('kai', 92, 88, 1.1, 'zero', 'nine', 9)

In [46]:
np.array(tup)  #np array which is not indexed and converted int and float values to str, making it homogeneous

array(['kai', '92', '88', '1.1', 'zero', 'nine', '9'], dtype='<U32')

In [47]:
hetero  #pd Series is indexed and allows heterogeneity

0     kai
1      92
2      88
3     1.1
4    zero
5    nine
6       9
dtype: object

### 5.

In [49]:
s = pd.Series(list(range(100,151)))
s

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
50    150
dtype: int64

In [51]:
s[21]

121

In [52]:
s[2:14]

2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
dtype: int64

In [53]:
s[13:20:3]

13    113
16    116
19    119
dtype: int64

In [55]:
s[40:20:-2]

40    140
38    138
36    136
34    134
32    132
30    130
28    128
26    126
24    124
22    122
dtype: int64