### 1.

In [1]:
sumation = lambda a,b: a+b

In [2]:
sumation(3,9)

12

In [5]:
sqr=lambda a:a**2

In [6]:
sqr(6)

36

### 2.

In [37]:
listInt=[51,2,32,9,67,82,43,6]

In [38]:
def even(n):
    if n%2==0:
        return n

In [39]:
l1=list(filter(even, listInt))

In [40]:
def gr10(n):
    if n>10:
        return n

In [41]:
l2=list(filter(gr10,listInt))

In [44]:
print("Filtered list of even numbers: ",l1)
print("square of the above list:",l2)

Filtered list of even numbers:  [2, 32, 82, 6]
square of the above list: [51, 32, 67, 82, 43]

### 3.

In [45]:
liststr=["12","9","72","14","4","36","29"]

In [46]:
def convtoint(x):
    if type(x)==str:
        return int(x)

In [47]:
a=list(map(convtoint, liststr))
print(a)

[12, 9, 72, 14, 4, 36, 29]

In [48]:
list(map(sqr, a))

[144, 81, 5184, 196, 16, 1296, 841]

### 4.

In [105]:
name_age = [{"name":"Joshua", "age":40},
            {"name": "Princy", "age":23},
            {"name":"Kai", "age":31},
            {"name":"Lily","age":10},
            {"name":"Megha","age":15}]

In [108]:
def age25(i):
    if i["age"]>25:
        return i["name"]

In [112]:
x=list(filter(age25,name_age))
print(x)

[{'name': 'Joshua', 'age': 40}, {'name': 'Kai', 'age': 31}]

In [ ]:
age25=[]
for i in x:
    age25.append(i["name"])
print(age25)

In [123]:
def f(i):
    while i in x:
        return i["name"]

In [124]:
list(map(f,x))

['Joshua', 'Kai']

### 5.

In [136]:
intlst=input("enter integers separated by ',': ")
num = list(intlst.split(','))
print(num)

enter integers separated by ',': 2,3,4,5,6,7
['2', '3', '4', '5', '6', '7']

In [137]:
new=[]
for i in num:
    x= int(i)
    new.append(x)
print(new)

[2, 3, 4, 5, 6, 7]

In [138]:
list(map(sqr,new))

[4, 9, 16, 25, 36, 49]

In [139]:
def div3(x):
    if x%3==0:
        return x

In [140]:
list(filter(div3,new))

[3, 6]